.timer-section {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .timer-input {
    margin-right: 10px;
    padding: 8px 16px;
    width: 270px;
    font-size: 17px;
    color: #2e2f42;
    border-radius: 8px;
    outline: none;
    border-width: 1px;
  }
  .timer-input:hover,
  .timer-input:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .timer-input:active,
  .timer-input:focus-within {
    border: 2px solid #4e75ff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .timer-input:disabled {
    color: #808080;
  }
  .timer-btn {
    padding: 8px 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: #4e75ff;
  }
  .timer-btn:hover,
  .timer-btn:focus {
    background-color: #6c8cff;
  }
  .timer-btn:disabled {
    color: #989898;
    background-color: #cfcfcf;
  }
  .timer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .field .value {
    font-size: 40px;
    line-height: 1.2;
    color: #2e2f42;
  }
  .field .label {
    font-size: 12px;
    line-height: 1.5;
    color: #2e2f42;
  }